$primaryTextColor: #040404;
$secondaryTextColor: #888;
$primaryAccent: #2bbffa;

.navbar{
    display: flex;
    height: auto;
    align-items: center;
    font-size: .8rem;
    color: $secondaryTextColor;

    .wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
    }

    .search{
        display: flex;
        align-items: center;
        border: 0.5px solid lightgray;
        padding: 3px;
        border-radius: 5px;

        input{
            border: none;
            outline: none;
            background-color: transparent;

            &::placeholder{
                font-size: 12px;
            }
        }

        &:focus-within{
            border: 0.5px solid $primaryAccent;
        }
    }

    .items{
        display: flex;
        align-items: center;

        .item{
            display: flex;
            align-items: center;
            margin-right: 24px;

            .mode--switch{
                cursor: pointer;
            }

            .avatar{
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    }
}