$primaryTextColor: #fff;
$primaryAccent: #2bbffa;
$primaryBackgroundColor: #18181b;
$secondaryBackgroundColor: #27272c;
$secondaryTextColor: #a4a4a4;

.dark{
    background-color: $primaryBackgroundColor;
    color: $primaryTextColor;

    .sidebar{
        background-color: $secondaryBackgroundColor;
        border-right: 1px solid $secondaryBackgroundColor;

        hr{
            border-color: $secondaryTextColor;
        }

        ul{
            li{
                &:hover{
                    background-color: #333;
                }
            }
        }
    }

    .widget{
        background-color: $secondaryBackgroundColor;

        .right{
            .icon{
                background-color: rgb(56, 30, 14);
            }
        }
    }

    .table{
        background-color: $secondaryBackgroundColor;
        

        .tablecell{
            color: #fff;
            border-bottom: 1px solid $secondaryTextColor;
        }
    }

    .status{
        &.athlete{
            color: #fff;
            background-color: rgba(0, 128, 0, 0.6);
        }

        &.non--athlete{
            color: #fff;
            background-color: rgba(255, 0, 0, 0.6);
        }
    }

    .user--table{
        .MuiInputLabel-outlined{
            color: #fff;
        }

        .MuiInputBase-input{
            background-color: $secondaryBackgroundColor;
            color: $secondaryTextColor;

            span{
                color: #fff;
            }
        }

        svg{
            color: $secondaryTextColor;
        }
    }

    .user--datatable{
        background-color: $secondaryBackgroundColor;
        color: #fff;
        border: 1px solid $secondaryTextColor;

        svg{
            color: $secondaryTextColor;
        }

        .MuiTablePagination-root{
            color: $secondaryTextColor;
        }
        
        .view--item,.delete--item{
            background-color: $secondaryBackgroundColor;
            color: $secondaryTextColor;
            border: none;
        }

        .view--item{
            &:hover{
                background-color: $primaryAccent;
                color: #fff;
            }
        }

        .delete--item{
            &:hover{
                background-color: red;
                color: #fff;
            }
        }

        .athlete--status{
            .non--athlete{
                color: #fff;
                background-color: rgba(255, 0, 0, 0.6);
            }

            .athlete{
                color: #fff;
                background-color: rgba(0, 128, 0, 0.6);
            }
        }
    }

    .list{
        .list--container{
            .top{
                .add--container{
                    .add--user{
                        border: none;
                        color: $secondaryTextColor;
                        background-color: $primaryBackgroundColor;

                        &:hover{
                            background-color: green;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .single{
        .single--container{
            .top{
                .left, .right{
                    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                    box-shadow: 2px 4px 10px 1px rgba(80, 80, 80, 0.05);
                    background-color: $secondaryBackgroundColor;

                    .details{
                        color: $secondaryTextColor;
                    }
                    
                    .details{
                        .person--details{
                            color: $secondaryTextColor;

                            .person--name{
                                color: $secondaryTextColor;
                            }
                        }
                    }
                }

                .left,.right{
                    .edit{
                        &:hover{
                            background-color: $primaryAccent;
                            color: white;
                        }
                    }
                }
            }

            .bottom{
                .users--table{
                    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                    box-shadow: 2px 4px 10px 1px $primaryBackgroundColor;
                }
            }
        }
    }
}